:root {
  --text-color: white;
  --light-color: rgb(143, 9, 9);
  --primary-bg-color: rgb(30, 29, 29);
  --pop-color: darkgreen;
  --content-height: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  background: linear-gradient(to bottom, var(--light-color), var(--primary-bg-color));
  color: var(--text-color);
}

input,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header, footer {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.font-sm {
  font-size: 0.8rem;
}

.right-indent {
  padding-left: 1em;
}

.center-text {
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: 6rem 1fr 3rem;
  grid-template-columns: 1fr 80% 1fr;
}

header {
  grid-column: 1 / 4;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 580px){
  h1{
    font-size: 1.6rem;
  }
  .hamburger-menu span{
    width: 80%;
  }
}

main {
  grid-column: 2;
  grid-row: 2;
}

footer {
  grid-column: 1 / 4;
  grid-row: 3;
  position: sticky;
  bottom: 0;
}

h1 {
  text-align: center;
  margin: 1.5rem;
}

h1 a{
  color: var(--text-color);
}

ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 3px;
}

ul li a{
  color: var(--primary-color);
}

ul li:hover,
ul li:active {
  border-bottom: 4px solid var(--pop-color);
}

.unseen-menu{
  background-color: var(--primary-bg-color);
  height: 100vh;
  width: 100%;
  max-width: 150px;
  position: fixed;
  top: 0;
  right: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  transition: 0.3s ease;
 
}

.unseen-menu.active{
  right: 0;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
}

.hamburger-menu span {
  height: 5px;
  width: 100%;
  background-color: var(--pop-color);
  border-radius: 25px;
  position: absolute;
  margin: -30px;
  top: -50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  margin-right: 10px;
}

.hamburger-menu span:nth-child(1){
  top: -25%;
}

.hamburger-menu span:nth-child(3){
  top: -75%;
}

.hamburger-menu.active span:nth-child(1){
  top: -50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2){
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3){
  top: -50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main-images {
  display: flex;
  flex: 0 0 28%;
  padding: 10px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  border-radius: 20px;
  margin: 10px;
  max-width: 1000px;
  max-height: 800px;
  justify-content: center;
  margin-left: 400px;
}

.main-images img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-content {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  justify-content: space-evenly;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
}

.carousel-container {
  width: 80%;
  margin: 0 auto;

  position: relative;

  border: none;
  outline: none;

  box-shadow: none;

  margin-top: auto;
  margin-bottom: auto;
}

.carousel {
  list-style-type: none;
  width: 100%;
  height: 600px;

  position: relative;

  margin: 0 auto;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;

  transition: 300ms opacity ease-in-out;
  transition-delay: 200ms;
}

.carousel-item.active {
  opacity: 1;
  transition-delay: 0ms;
  border: none;
  outline: none;
}

.carousel-item > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-button {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--text-color);
  position: absolute;
  top: 50%;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.carousel-button.left {
  left: -3.4rem;
}

.carousel-button.right {
  right: -2.5rem;
}

.carousel-button:hover {
  cursor: pointer;
  background-color: var(--pop-color);
  color: white;
}

.carousel-navigation {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.navigation-item {
  height: 11px;
  width: 11px;
  background-color: var(--pop-color);
  border-radius: 50%;

  opacity: 0.3;

  transition: 300ms opacity ease-in-out;
  
}

.navigation-item.active {
  opacity: 0.8;
}

/* --- ---- ----- ----  */

.meeting-main{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  padding: 20px;
}

.meeting-container-content,
.meeting-container-img {
  flex: 1;
  min-width: 0;
}

.meeting-container-img {
  display: flex;
}
.meeting-container-img img{
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
}

.meeting-container-img img,
.meeting-container-content img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  display: block;
}

.meeting-content-img,
.meeting-container-content {
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
}

.meeting-container-content {
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.tuesday-container-content,
.thursday-container-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.meetings {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.meetings img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  display: block;
}

.meeting-title {
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  border-radius: 20px;
  padding: 20px;
}

.accordion-content {
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  border-radius: 20px;
  padding: 30px;
  margin: 5px;
  margin-bottom: 1px;
}
/* --- ---- ----- ----  */

.current-events,
.past-events {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.events {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.events img{
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  display: block;
}

.current-events,
.past-events {
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  border-radius: 20px;
}

h2, h3 {
  text-align: center;
  text-decoration: underline;
}

/* --- ---- ----- ----  */

.contact-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="text"],
input[type="email"], 
input[type="tel"],
textarea{
  border: 2px solid  var(--primary-color);
  margin-bottom: 0.5em;
  width: 100%;
  padding: 0.6em;
}

textarea {
  height: 15em;
  width: 20em;
}

input[type="submit"] {
  background-color: var(--light-color);
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.contact-content {
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
  border-radius: 20px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: right;
  border: none;
}

.discord-image,
.niner-engage-image {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
}

.contact-images {
  display: flex;
  flex-direction: column;
}

.discord-img,
.niner-engage-img {
  padding: 2px;
  margin: 2px;
  border-radius: 20px;
}

/* --- ---- ----- ----  */

.cube-content {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px var(--primary-bg-color);
}

/* --- --- --- --- --- */

.accordion-button {
  border: none;
  transition: 0.5s opacity ease-out;
}

.accordion-button:hover{
  background-color: var(--pop-color);
  color: var(--text-color);
}

.accordion-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0s height ease-in-out, 0.5s opacity ease-in-out;
  margin: 0;
  padding: 0;
}

.accordion-content.open {
  height: var(--content-height);
  overflow: auto;
  opacity: 1;
  padding: 20px;
}

.accordion-button.open {
  opacity: 1;
}

.accordion-button {
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 30px;
  margin-left: 10px;
}

.accordion-button::after {
  content: "+";
}

.accordion-button.open::after {
  content: "-";
  font-weight: bold;
}